/* 全局补充样式 */

//首页logo旁的浮窗搜索
.ant-drawer{
    .ant-drawer-body{
        float: left;
        height:100%;
        #search-box{
            margin-bottom: 35px;
            float:left;
            .ant-select-selection{
                border: none;
                box-shadow: none;
                cursor: text;
            }
        }
        h2{
            float:left;
            width:100%;
        }
        .avatar{
          float:left;
          width:100%;
          margin-bottom: 0.5em;
          img{
              width:100%;
              float:left;
          }      
        }
        .introduce{
            float: left;
            text-align: left;
            line-height:1.5em;
            text-align:justify; 
            text-justify:inter-ideograph;
        }
        .copyright{
            position: absolute;
            bottom:10px;
            font-size:12px;
            text-align: left;
            line-height: 1.5em;
        }
    }
}